.primary {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  max-height: 100vh;
  background: url("../images/saint-pablo.jpg") no-repeat center center / cover;
}
